@use '../variables/colors';
@use '../variables/contrast';


.btn {
	--btn-background: black;
	--btn-hover: darkgray;
	--btn-text: white;
	--btn-outline: lightgray;

	display: inline-block;

	text-decoration: none;
	outline: none;
	border: 0.1em solid transparent;
	border-radius: 0.4em;
	cursor: pointer;

	font-size: inherit;
	font-weight: inherit;
	font-variation-settings: inherit;
	padding: 0.4em 1em;
	white-space: nowrap;
	line-height: inherit;

	background-color: var(--btn-background);
	border-color: var(--btn-background);
	color: var(--btn-text) !important;

	transition:
		background-color 0.2s ease,
		border-color 0.2s ease,
		color 0.2s ease,
		box-shadow 0.2s ease;

	&:hover {
		background-color: var(--btn-hover);
		border-color: var(--btn-hover);
	}

	&:focus { box-shadow: 0 0 0 0.25em var(--btn-outline); }

	&.outline {
		background-color: transparent;
		color: var(--btn-background) !important;

		&:hover {
			background-color: var(--btn-background);
			border-color: var(--btn-background);
			color: var(--btn-text) !important;
		}
	}


	@each $key, $map in colors.$colors {
		@each $name, $color in $map {

			&.#{$key}-#{$name} {
				--btn-background: #{$color};
				--btn-hover: #{darken($color, 10%)};
				--btn-text: #{contrast.text-contrast($color)};
				--btn-outline: #{rgb($color, 0.6)};
			}

		}
	}

}
