@use '../variables/colors' as c;


.input {
	&:is(input),
	&:is(select) {
		border: 0.1em solid c.clr('theme', 'light');
		border-radius: 0.4em;
		background: none;

		font-size: inherit;
		font-family: inherit;
		padding: 0.4em 0.6rem;

		transition:
			border-color 0.2s ease,
			box-shadow 0.2s ease;

		&:focus:not([disabled]) {
			outline: none;
			border-color: var(--clr-theme-primary);
			box-shadow: 0 0 0 0.25em rgb(c.clr('theme', 'primary'), 0.6);
		}

		&[type=color] {
			padding: 0.2em 0.3em;
			height: 2em;
		}

		&[disabled] { background-color: c.clrl('theme', 'light'); }
	}
}
