@use '../variables/colors' as c;

$clr-primary: map-get(map-get(c.$colors, theme), primary);

.input {
	&:is(input),
	&:is(select) {
		border: 0.1em solid var(--clr-theme-light);
		border-radius: 0.4em;
		background: none;

		font-size: inherit;
		font-family: inherit;
		padding: 0.4em 0.6rem;

		transition:
			border-color 0.2s ease,
			box-shadow 0.2s ease;

		&:focus:not([disabled]) {
			outline: none;
			border-color: var(--clr-theme-primary);
			box-shadow: 0 0 0 0.25em rgb($clr-primary, 0.6);
		}

		&[type=color] {
			padding: 0.2em 0.3em;
			height: 2em;
		}

		&[disabled] { background-color: var(--clr-theme-light-lighter); }
	}
}
