@use '../variables/colors' as c;


.logo {
	font-family: Helmet Neue;
	display: inline-block;
	text-decoration: none;

	&::before {
		content: 'per';
		color: c.clr('accent', 'primary');
	}

	&::after {
		content: 'voj';
		color: c.clr('accent', 'light');
	}
}
