@use '../variables/colors' as c;


.skip-to-content {
	position: fixed;
	top: 1rem;
	left: 1rem;
	padding: 0.4rem 0.6rem;
	border-radius: 0.4rem;

	transform: translateY(-200%);

	background-color: c.clr('accent', 'light');
	color: c.clr('accent', 'dark');
	border: 0.2rem solid c.clrl('accent', 'dark');
	box-shadow: 0 0 1rem rgb(black, 0.7);

	font-family: Helmet Neue;
	font-size: 1.2rem;
	text-decoration: none;
	text-transform: uppercase;

	z-index: 9999;

	transition: transform 0.2s ease;

	&:focus {
		transform: translateY(0);
		outline: 0;
	}
}
