html {
	font-family: Cantarell, sans-serif;
	line-height: 1.5;
	@supports (font-variation-settings: 'wght' 400) {
		font-family: CantarellVariable, sans-serif;
		font-variation-settings: 'wght' 400;
	}

	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0;
	min-height: 100vh;
	height: max-content;
	@media (prefers-color-scheme: dark) {
		background-color: #1a1a1a;
		color: #ffffff;
	}
}

*, *::before, *::after { box-sizing: border-box; }


.container {
	margin-inline: auto;
	padding-inline: 1.5rem;
	width: min(100%, 55rem);
	text-align: justify;
}


strong, b, .strong {
	font-weight: 700;
	font-variation-settings: 'wght' 700;
}


img {
	display: inline-block;
	max-width: 100%;
}
