@use 'variables/colors' as c;


html {
	font-family: Cantarell, sans-serif;
	line-height: 1.5;
	@supports (font-variation-settings: 'wght' 400) {
		font-family: CantarellVariable, sans-serif;
		font-variation-settings: 'wght' 400;
	}

	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0;
	min-height: 100vh;
	height: max-content;
	@media (prefers-color-scheme: dark) {
		background-color: #1a1a1a;
		color: #ffffff;
	}
}

*, *::before, *::after {
	box-sizing: border-box;
	scroll-padding-block-start: 5rem;
}


.container {
	margin-inline: auto;
	padding-inline: 1.5rem;
	width: min(100%, 55rem);
	text-align: justify;
	word-wrap: break-word;
	hyphens: auto;
}


strong, b, .strong {
	font-weight: 700;
	font-variation-settings: 'wght' 700;
}


img {
	display: inline-block;
	max-width: 100%;
}


a:not(.btn) {
	color: c.clr('theme', 'primary');
	@media (prefers-color-scheme: dark) {
		color: c.clrl('theme', 'primary');
	}

	&:visited {
		color: c.clr('theme', 'visited');
		@media (prefers-color-scheme: dark) {
			color: c.clrl('theme', 'visited');
		}
	}

	&:active {
		color: c.clr('theme', 'error');
		@media (prefers-color-scheme: dark) {
			color: c.clrl('theme', 'error');
		}
	}
}
